* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body,
.container {
  height: 100%;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  background: #e6ecf0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.container {
  display: flex;
  /* flex-wrap: wrap; */
  /* align-content: center; */
}

.container .item {
  margin: 5px;
  height: 60px;
  width: 120px;
  background-color: #f00;
  flex: 1;
}
